.course-layout {
      width: 100%;
      align-content: center;
}

.course-image-title {
      font-size: 6rem;
}

body {
      overflow-x: hidden;
}

.course-home-frame {
      width: 80vw;
      margin: auto;
      font-family: Poppins;
}

.course-head {
      padding-top: 2rem;
      width: 100%;
      /* background-image: url(assets/images/Courses/001.png);
                        background: linear-gradient();
                        mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
                        -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 1) 100%);
                        
                        */
      align-items: baseline;
}